@font-face {
    font-family: anton;
    src: url('./assets/fonts/Anton-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    width: 100%;
}
    




svg #text text {
    /* fill: #577457; */
    font-family: anton;
    fill:transparent;
    stroke-width: 2px;
    /* stroke: #253a25; */
    /* stroke: #fff; */
    stroke: black;
    stroke-dasharray: 800;
    stroke-dashoffset: calc(2*800);
    stroke-linecap: round;
    /* animation: fillAnime 2s linear backwards; */
    /* letter-spacing: 20px; */
    animation-fill-mode: forwards;
}
@keyframes fillAnime {
    100%{
        stroke-dasharray: 800;
        stroke-dashoffset: 1600;
    }
}